<head>
  <title>
    Floating Menu Style
  </title>
  <style>
    .floating-menu {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      font-size: 20px;
      transition: all 0.3s ease;
    }

    .floating-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .floating-menu ul li {
      margin-bottom: 5px;
    }

    .floating-menu ul li a {
      text-decoration: none;
      color: #222;
      display: block;
      transition: color 0.3s ease;
    }

    .floating-menu ul li a:hover {
      color: #00a8e1;
    }


    .floating-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .floating-menu li {
      margin-bottom: 5px;
    }

    .floating-menu a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    .floating-menu .submenu {
      margin-top: 5px;
      margin-left: 20px; /* Indent the submenu */
    }

    .floating-menu .submenu a {
      font-size: 12px; /* Smaller font size for secondary titles */
      color: #555; /* Lighter text color for secondary titles */
    }


    .content {
      margin-right: 200px;
    }

  </style>
</head>


<div class="floating-menu">
  <ul>
    <li><a href="#abstract-section">Abstract</a></li>
    <li><a href="#dataset-section">Dataset</a></li>
    <li><a href="#workflow-section">Workflow</a></li>
    <li><a href="#operation-section">Operation Guidance</a>
      <ul class="submenu">
        <li ><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#prerequisites" style="color: #222;font-size: 16px">· Prerequisites</a></li>
        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#usage" style="color: #222;font-size: 16px">· Usage</a></li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>
    <li>
      <a href="#experiment-section">Experiment Result</a>
      <ul class="submenu">
        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#runtimeDatas" style="color: #222;font-size: 16px; ">· Effectiveness Study</a></li>
        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#reliability-study" style="color: #222;font-size: 16px">· Runtime Difference</a></li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>
  </ul>
</div>


<div class="user-details" id="abstract-section">
  <h1 style="font-weight: bold;">Abstract</h1>
  <p style="text-align: left;">Flaky tests hinder the development process by exhibiting uncertain behavior in regression testing. A flaky test may pass in some runs and fail in others while running on the same code version. The non-deterministic outcome frequently misleads the developers into debugging non-existent faults in the code. To effectively debug the flaky tests, developers need to reproduce them. The industry de facto to reproduce flaky tests is to rerun them multiple times. However, rerunning a flaky test numerous times is time and resource-consuming.
    <br>
    <br>
    This work presents a technique for rapidly and reliably reproducing timing-dependent GUI flaky tests, acknowledged as the most common type of flaky tests in Android apps. Our insight is that flakiness in such tests often stems from event racing on GUI data. Given stack traces of a failure, our technique employs dynamic analysis to infer event races likely leading to the failure and reproduces it by selectively delaying only relevant events involved in these races. Thus, our technique can efficiently reproduce a failure within minimal test runs. The experiments conducted on 80 timing-dependent flaky tests collected from 22 widely-used Android apps show our technique is efficient in flaky test failure reproduction. Out of the 80 flaky tests, our technique could successfully reproduce 73 within 1.71 test runs on average. Notably, it exhibited extremely high reliability by consistently reproducing the failure for 20 runs. </p>
</div>

<div class="user-details"  id="dataset-section">
  <h1 style="font-weight: bold;" >Dataset</h1>
  <p style="text-align: left;">To evaluate our tool, we reproduced 80 timing-dependent flaky tests in 22 real-world Android apps. The following table shows the detailed information of these flaky test cases and Apps, where "Stars" characterizes the app popularity in terms of stars on GitHub, "Version" denotes the version number of app we used in our study, "Context" describes the purpose of the test case. The detail of each test can be found by clicking on the "<u style="color: blue;">Test Name</u>" with a hyperlink.</p>
<!--  <iframe height="1500px"  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQeliwaWoEVqEnb3m-rtHCQqTK2kcDZuRC2Jl-98HbPDn5SXbc3XPWIFB6elzwQGrdjU9sqnWslo4uW/pubhtml?gid=0&single=true" loading allowfullscreen width="100%" height="300"></iframe>-->
</div>

<head>
  <title>Data Display</title>
  <style>
    .table-container {
      max-height: 800px;
      overflow-y: auto;
      border: 1px solid black;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    td {
      word-wrap: break-word;
    }

    thead {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
<div class="table-container">

<table id="dataTable">
  <thead>
  <tr>
    <th style="width: 50px;" >TestID</th>
    <th style="width: 150px;">Test Name</th>
    <th style="width: 160px;">App Name</th>
    <th style="width: 70px;">Stars</th>
    <th style="width: 70px;">Version</th>
    <th style="width: 300px;">Context</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script src="assets/js/datas.js"></script>
<script src="assets/js/script.js"></script>
</body>

<div class="user-details" id="workflow-section">
  <h1 style="font-weight: bold;" >Workflow</h1>
  <p style="text-align: left;">The workflow of FlakReaper is depicted in the following figure. FlakReaper takes the app under test and the test case as input to perform a dynamic analysis. During the analysis, FlakReaper monitors and records events during execution and GUI access operations. Besides, it captures the execution traces of a test run. Afterward, the collected runtime data and crash stacks are analyzed to identify event races that could have caused the failure. Subsequently, FlakReaper runs the test by enforcing an order among the events involved in the race to manifest the failure. To establish an order between two events, FlakReaper delays one event to allow the other to execute first. If the test run successfully reproduces the observed flaky behavior, FlakReaper provides the delay configuration as output.</p>
  <img src="/assets/image/workflow.png" alt="workflow" style="width: 1000px; height: auto;">
</div>


<div class="user-details" id="operation-section">
  <h1 style="font-weight: bold;" >Operation Guidance</h1>
  <style>
    ol {
      padding-left: 20px; /* 调整列表的左边距 */
    }
    li {
      text-align: left; /* 文本左对齐 */
    }
  </style>

  <ol>
    <li>
      <h3 id="prerequisites">Prerequisites</h3>
      <ul>
        <li>Android emulator with API 30 with EdXposed Framework installed</li>
        <li>Android Studio (Hedgehog | 2023.1.1 Canary 10) with YAMP plugin installed</li>
        <li>Java 17 & Gradle 8.0 & Android Gradle Plugin 8.0.0</li>
      </ul>
    </li>

    <li>
      <h3 id="usage">Usage</h3>
      <ul>
        <li>Install the app module and the timelord module of FlakeEcho to an Android emulator with API 30 with EdXposed Framework installed. You may check if the app module and the timelord module are correctly installed in the EdXposedManager module list.</li><br>
        <li>To trace the messageQueue and the GUI related operations during an instrumentation test, make sure the control switch of the app module on and the timelord module off in the EdXposedManager.</li><br>
        <li>Run the instrumentation test in the Android Studio with YAMP plugin on to record the runtime method call stack with an output of .trace file. The log of GUI related operations should be generated under the /sdcard directory in the emulator with the format of {timestamp}.txt.</li><br>
        <li>Run the Analyzer module with the input of the .trace file and the {timestamp}.txt. It will generate a static_id_list.txt file under the /sdcard directory in the emulator, which contains the static id list.</li><br>
        <li>To inject a single delay in the instrumentation test, make sure the control switch of the app module off and the timelord module on in the EdXposedManager. Then run the instrumentation test again and the delay will be injected to reproduce the failure of flaky test.</li>
      </ul>
    </li>
  </ol>


<!--  <img src="/assets/image/operation.gif" alt="operation" style="width: 1000px; height: auto;">-->

    <br>
</div>

<div class="user-details"  id="experiment-section">
  <h1 style="font-weight: bold;" >Experiment Results</h1>
<!--  <p style="text-align: left;">Experiment Results-->
<!--    <br>-->
</div>

<ol>
  <li>
    <h3>Effectiveness Study</h3>
    <body>
    <div class="table-container">

      <table id="runtimeDatas">
        <thead>
        <tr>
          <th style="width: 50px;" >TestID</th>
          <th style="width: 150px;">Test Name</th>
          <th style="width: 80px;">Total Number of Events</th>
          <th style="width: 70px;">Number of Event Race</th>
          <th style="width: 120px;">Rerun Times to Reproduce Failures</th>
          <th style="width: 120px;">Total Time to Reproduce Failures(s)</th>
          <th style="width: 120px;">Execution Time to Trace Methods and Stacktrace(s)</th>
          <th style="width: 120px;">Execution Time without FlakReaper(s)</th>
          <th style="width: 80px;">Overhead</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <script src="assets/js/runtimeDatas.js"></script>
    <script src="assets/js/runtimeScript.js"></script>
    </body>
  </li>

  <li>
    <h3>Entropy of Runtime Difference</h3>
    <div class="user-details" id="reliability-study">
<!--      <h1 style="font-weight: bold;" >The Entropy of Runtime Difference</h1>-->
      <div style="text-align: left;">Our study compared the efficiency of failure reproduction by FlakeEcho against other tools. Despite all tools failing to reproduce every case, a fair comparison was made on shared test sets. Results showed that FlakeEcho generally reproduces failures more quickly and with fewer test runs, highlighting its effectiveness, especially beyond the second reproduction attempt.</div>
      <img src="/assets/image/time_of_reproducing_failures_for_X_times.png" alt="workflow" style="width: 600px; height: auto;">
      <p style="text-align: left;">The following tables present the statistics of the study, wherein the vertical columns correspond to our instrument, FlakeEcho, juxtaposed with tools such as FlakeScanner, Shaker, and 100Rerun. The horizontal rows are designated as the number of reproduced failures, with the content enumerating the average time taken, delineated in seconds.</p>
    </div>
    <body>

    <div id="reliability-study-container">
      <!-- Test results will be displayed here -->
    </div>
    <div style="text-align: center;">Data contrasts FlakeEcho with FlakeScanner</div>
    <br>

    <div id="reliability-study-container2">
      <!-- Test results will be displayed here -->
    </div>
    <div style="text-align: center;">Data contrasts FlakeEcho with Shaker</div>
    <br>

    <div id="reliability-study-container3">
      <!-- Test results will be displayed here -->
    </div>
    <div style="text-align: center;">Data contrasts FlakeEcho with 100Rerun</div>
    <br>

    <!-- Include the data.js file -->
    <script src="assets/js/reliabilityStudyData.js"></script>

    </body>
  </li>
</ol>





<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuLinks = document.querySelectorAll(".floating-menu a");

    menuLinks.forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();

        const targetId = this.getAttribute("href").substring(1);
        const targetSection = document.getElementById(targetId);

        if (targetSection) {
          window.scrollTo({
            top: targetSection.offsetTop - 50,
            behavior: "smooth"
          });
        }
      });
    });
  });
</script>

